*{
  font-family: 'Open Sans', sans-serif;
}
.content{
  margin-top: 25px;

  // .events{
  //   background: #3f3f3f;
  // }

  fieldset{
    border: none;
    padding: 15px;
  }

  legend{
    font-size: 1.2rem;
  }
}
